***
<font size="10"><b>VacationPy<b></font>
***

# SETUP

In [1]:
# Dependencies
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
from pprint import pprint

# Import API key
from api_keys import gkey

# weather data file path
file = os.path.join("..", "WeatherPy/output_data/cities.csv")

# LOAD DATA

In [2]:
weather_df = pd.read_csv(file)
weather_df = pd.DataFrame(weather_df)
weather_df.head()

,City,CityID,Country,Latitude,Longitude,Temperature,Humidity,Cloudiness,Wind Speed
0,Selikhino,2017042,RU,50.37,137.50,-0.31,97,100,3.11
1,Saldanha,3361934,ZA,-33.01,17.94,80.60,39,0,11.41
2,Lengshuijiang,1804169,CN,27.69,111.43,41.83,96,94,4.27
3,Saint-Philippe,935215,RE,-21.36,55.77,80.60,88,100,8.05
4,Cape Town,3369157,ZA,-33.93,18.42,75.20,53,0,11.41

# HUMIDITY HEATMAP

In [3]:
# Configure Map
gmaps.configure(api_key = gkey)
fig_size = {
    'width': '900px',
    'height': '600px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}
fig = gmaps.figure(layout = fig_size)

In [4]:
# Set data
city_coords = weather_df[["Latitude","Longitude"]]
city_hum = weather_df["Humidity"].astype(float)

In [5]:
# Add Heatlayer to Map
heat_layer = gmaps.heatmap_layer(city_coords, weights = city_hum)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(border='1px solid black', height='600px', margin='0 auto 0 auto', padding='1px', wi…

# NARROWING WEATHER CONDITIONS

In [6]:
cities_pref = weather_df.loc[(weather_df["Temperature"]<85)&
                           (weather_df["Temperature"]>65)&
                           (weather_df["Cloudiness"]<20)&
                           (weather_df["Wind Speed"]<10)
                          ]
cities_pref = cities_pref.dropna()
cities_pref.head()

,City,CityID,Country,Latitude,Longitude,Temperature,Humidity,Cloudiness,Wind Speed
8,Hermanus,3366880,ZA,-34.42,19.23,73.99,75,0,8.99
55,Lebu,3883457,CL,-37.62,-73.65,75.76,40,13,7.31
63,Port Alfred,964432,ZA,-33.59,26.89,66.99,86,1,5.01
85,Samarai,2132606,PG,-10.62,150.67,76.06,86,15,2.98
95,Hambantota,1244926,LK,6.12,81.12,77.00,100,5,8.05

In [7]:
cities_pref.shape

(32, 9)

# HOTEL MAP

In [8]:
url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?"

hotels = []
params = {"key": gkey,
          "radius": "5000",
          "type": "lodging"
         }

for index,row in cities_pref.iterrows():    
    params['location']=str(row['Latitude'])+","+str(row['Longitude'])    
    response = requests.get(url,params = params).json()

    try:
        hotel_name = (response["results"][0]["name"])
        hotel_lat = (response["results"][0]["geometry"]["location"]["lat"])
        hotel_lng = (response["results"][0]["geometry"]["location"]["lng"])
        hotels.append({"Hotel Name":hotel_name,
                       "City":row["City"],
                       "Country":row["Country"],
                       "Hotel_Lat":hotel_lat,
                       "Hotel_Lng":hotel_lng
                      }
                     )
    except(IndexError):
        print(row["City"])

Ati
Guerrero
Ransang

In [9]:
hotels_df = pd.DataFrame(hotels)
hotels_df.head()

                   Hotel Name         City Country  Hotel_Lat   Hotel_Lng
0  Misty Waves Boutique Hotel     Hermanus      ZA -34.421390   19.236641
1            Hostal Las Lilas         Lebu      CL -37.607973  -73.649193
2          The Halyards Hotel  Port Alfred      ZA -33.594329   26.893248
3                   Nuli Sapi      Samarai      PG -10.625897  150.645083
4                 Bungalow 63   Hambantota      LK   6.130587   81.125130

In [10]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotels_df.iterrows()]
locations = hotels_df[["Hotel_Lat", "Hotel_Lng"]]

In [11]:
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(border='1px solid black', height='600px', margin='0 auto 0 auto', padding='1px', wi…

# APPENDIX